:root {
  /* Color Palette */
  --color-light: #F0F0F2;
  --color-blue: #3A558C;
  --color-dark-red: #590202;
  --color-red: #8C0808;
  --color-bright-red: #D92B2B;
  
  /* Typography */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-light);
  color: var(--color-dark-red);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.2;
}

h3 {
  font-size: 1.6em;
  line-height: 1.3;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4em;
  }
  
  h2 {
    font-size: 1.8em;
  }
  
  h3 {
    font-size: 1.3em;
  }
}

